.lighter {
  color: #999 !important;
}

.sidebar .about {
  margin-left: 0px;
  font-size: 14px;}
  .sidebar .about h4 {
    margin-bottom: 0px;
    color: #333;
    font-size: 14px;}
  .sidebar .about p {
    margin-top: 0px;
    color: #666;
    font-size: 12px;}
  .sidebar .about a {
    color: #333;}

